* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  margin: 0 50px;
  padding: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color:white;
  

}

.button-one {

  padding: 8px 10px;
  border: 3px solid rgb(27, 153, 69);
  background: rgb(113, 115, 207);
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;

}

.section-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: grey;
  width: 50%;
  padding: 25px 0;
}

.section-two h1 {
  margin-bottom: 10px;
}
